<launch>
    <node name="pick_objects" type="pick_objects" pkg="pick_objects" output="screen">
        <rosparam>
            pick_up_x: 1.0
            pick_up_y: 1.0
            pick_up_w: 1.0
            drop_off_x: -1.0
            drop_off_y: -1.0
            drop_off_w: 1.0
        </rosparam>
    </node>
</launch>
